/* Emma */

/* Font rules */

/* 
font-family: 'Hachi Maru Pop',
cursive;
Regular 400

font-family: 'Lato',
sans-serif;
Thin 100 Light 300 Regular 400
*/

html {
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Hachi Maru Pop',
    cursive;
}

body {
  font-family: 'Lato',
    sans-serif;
  min-height: 100%;
}

footer {
  margin-top: auto;
  position: relative;
  background-image: linear-gradient(to right, #fc4a1a, #f7b733);
}

.header {
  background-image: linear-gradient(to right, #fc4a1a, #f7b733);
  background-position: top;
  background-size: cover;
  min-height: 17vh;
  position: relative;
}

.hatLogo:hover {
    animation: rotate 1s;
}

.nav-link:hover {
  transform: translateY(-.1rem) !important;
  text-shadow: 0.5rem 0 1rem rgba(15, 10, 10, 0.3);
}

@keyframes rotate {
  0% {
    opacity: 1;
    transform: rotate(0);
  }

  50% {
    opacity: 1;
    transform: rotate(40deg);
  }

  100% {
    opacity: 1;
    transform: rotate(0);
  }
}

/* SVG */
.custom-shape-divider-bottom-1610575905 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1610575905 svg {
  position: relative;
  display: block;
  width: calc(105% + 1.3px);
  height: 52px;
}

.custom-shape-divider-bottom-1610575905 .shape-fill {
  fill: #FFFFFF;
}

/* SVG layer 1 */
.custom-shape-divider-top-1610641095 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 0;
}

.custom-shape-divider-top-1610641095 svg {
  position: relative;
  display: block;
  width: calc(125% + 1.3px);
  height: 283px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1610641095 .shape-fill {
  fill: #fc4a1a;
  opacity: 20%;
}.custom-shape-divider-top-1610641636 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

/* SVG layer 2 */
.custom-shape-divider-top-1610641636 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1610641636 svg {
  position: relative;
  display: block;
  width: calc(150% + 1.3px);
  height: 400px;
}

.custom-shape-divider-top-1610641636 .shape-fill {
  fill: #F7D134;
  opacity: 15%;
}

/* SVG layer 3 */
.custom-shape-divider-top-1610641843 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1610641843 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 250px;
}

.custom-shape-divider-top-1610641843 .shape-fill {
  fill: #FA992D;
  opacity: 35%;
}

/* SVG layer 4 */
.custom-shape-divider-top-1610642313 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1610642313 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 226px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1610642313 .shape-fill {
  fill: #FA992D;
  opacity: 30%;
}

.mobileLogo {
  position: relative;
  z-index: 1;
}

/* Footer */

.buttonTwo {
  color: #fff;
  clip-path: polygon(0 21%, 95% 32%, 98% 77%, 4% 68%);
  background-color: #F6B733;
}

.buttonTwo:hover {
  transform: scale(1.5);
  clip-path: polygon(0 24%, 100% 14%, 100% 65%, 0 78%);
}

.footerContent>*,
.socialContainer>* {
  z-index: 100 !important;
}

.socialIcons:hover {
  transform: translateY(-.4rem) !important;
}

/* SVG */
.custom-shape-divider-top-1610589798 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1610589798 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 66px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1610589798 .shape-fill {
  fill: #FFFFFF;
}

/*  SVG footer layer 1 */
.custom-shape-divider-bottom-1610642658 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1610642658 svg {
  position: relative;
  display: block;
  width: calc(179% + 1.3px);
  height: 450px;
}

.custom-shape-divider-bottom-1610642658 .shape-fill {
  fill: #FA8628;
}

/* SVG footer layer 2 */
.custom-shape-divider-bottom-1610643294 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1610643294 svg {
  position: relative;
  display: block;
  width: calc(126% + 1.3px);
  height: 362px;
}

.custom-shape-divider-bottom-1610643294 .shape-fill {
  fill: #FA992D;
  opacity: 30%;
}

/* SVG footer layer 3 */
.custom-shape-divider-bottom-1610643389 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg) scaleX(-1);
}

.custom-shape-divider-bottom-1610643389 svg {
  position: relative;
  display: block;
  width: calc(109% + 1.3px);
  height: 450px;
}

.custom-shape-divider-bottom-1610643389 .shape-fill {
  fill: #F6B733;
  opacity: 20%;
}

/* SVG footer layer 4 */
.custom-shape-divider-bottom-1610643638 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg) scaleX(-1);
}

.custom-shape-divider-bottom-1610643638 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 450px;
}

.custom-shape-divider-bottom-1610643638 .shape-fill {
  fill: #e3a82a;
  opacity: 25%;
}

@media only screen and (min-width: 768px) {

  footer {
    min-height: 30vh;
  }

  .socialIcons {
    height: 2.3rem;
  }
}






/* Nick */

.thumbnail{
    width: 200px;
}
.card-header .fa {
    transition: .3s transform ease-in-out;
  }
  .card-header .collapsed .fa {
    transform: rotate(90deg);
  }
  
  .search{
  
    float: right;
    
    
  
  }
  
  
  .calendar{
    width:475px;
  }
  #input_container {
    position:relative;
    margin:0 20px;
    background:rgb(253, 253, 253);
    width: 200px;
    border: black 3px solid;
  }
  #input {
    height:20px;
    margin:0;
    
    width: 100%;
    border: none;
  }
  #input_img {
    position:absolute;
    bottom:5px;
    right:5px;
    
  }
  .zoom {
    
    
    transition: transform .2s; /* Animation */
    
    margin: 0 auto;
  }
  
  .zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }