body{
    background-color:white;
}
.carousel-control-prev-icon {
    background-image: url("../assets/lefticon.png");
    width:3em;
    height:3em;
}
.carousel-control-next-icon {
    background-image: url("../assets/righticon.png");
    width:3em;
    height:3em;
}
.carousel-indicators li{
    background-color:red;
}
#myCarousel{
    margin:1em 10em;
}
.staff-description{
    font-size:1.1em;
}
.carousel-item:hover{
    cursor:pointer;
}
#pictureDisplay{
    padding:3em;
}
#textDisplay{
    padding:3em;
}
.margin-general{
    padding:3em;
}
#toggle-button{
    min-width: 216px;
}
h1{
    font-size: 2.7em;
    font-weight:bold;
    /* font-family: fantasy; */
    letter-spacing: 0.05em;
}
h2{
    font-size: 2.2em;
    font-weight:bold;
    /* font-family: fantasy; */
    letter-spacing: 0.05em;
}
.picture-size{
    max-height:250px;
    height:auto;
}
.picture-size-bigger{
    max-height:300px;
    height:auto;
}
.picture-size-biggest{
    max-height:350px;
    height:auto;
}
.rainbow{
    animation-name: rainbowAnimation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate; 
}
.baloon-transition{
    transition-property:border-radius;
    transition-delay: 0.1s;
    transition-duration: 1s;
    transition-timing-function: linear;
}
.baloon-transition:hover{
    border-radius: 50%;
}
.adjust-header{
    margin-bottom:7em;
}
@keyframes rainbowAnimation{
    0% {color:red;}
    20% {color:green;}
    36% {color:blue;}
    65% {color:orange;}
    78% {color:purple;}
    100% {color:red;}
}
@media screen and (max-width: 768px){
    #myCarousel{
    margin:0.2em;
    }
    #pictureDisplay{
    padding:1em;
    }
    #textDisplay{
    padding:1em;
    }
    .margin-general{
    padding:1em;
    }
    .sml-center{
        text-align:center;
    }
    .left-justified{
        text-align:left;
    }
    .border-on-sml{
        border-top:2px solid black;
    }
    .adjust-header{
        margin-bottom:2em;
    }
}